.nav {
  overflow: hidden;
}

.nav a:hover {
  background-color: #202020;
  color: white !important;
}

.nav a {
  text-decoration: none;
  text-align: center;
  color: #202020;
  font-size: 17px;
  padding: 16px;
  float: right;
}